*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(to bottom,#020111,#0b1d3a,#000000);
color:white;
overflow-x:hidden;
}

.container{
width:100%;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:30px;
position:relative;
}

h1{
font-size:48px;
color:white;
text-shadow:0 0 20px white;
margin-bottom:15px;
}

h2{
font-size:24px;
font-weight:300;
color:#d9d9d9;
margin-bottom:10px;
}

.date{
font-size:20px;
letter-spacing:3px;
margin:15px 0;
color:#cfcfcf;
}

.quote{
max-width:500px;
font-size:18px;
line-height:1.8;
color:#efefef;
margin-top:20px;
}

.button{
margin-top:35px;
padding:16px 45px;
border-radius:50px;
background:white;
color:black;
text-decoration:none;
font-size:18px;
font-weight:bold;
transition:.3s;
}

.button:hover{
background:#dddddd;
transform:scale(1.05);
box-shadow:0 0 20px white;
}

.star{
position:fixed;
background:white;
border-radius:50%;
animation:twinkle 2s infinite;
}

@keyframes twinkle{
0%{opacity:.2;}
50%{opacity:1;}
100%{opacity:.2;}
}
